<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= person.age %>
  </p>

  <p>
    <strong>Cellphone:</strong>
    <%= person.cellphone %>
  </p>

  <% if person.thumbnail.attached? %>
    <%= image_tag person.thumbnail, style: 'width:200px;height:200px;' %>
  <% end %>

</div>
